
content/dota_addons/addon_template_overthrow_butt/materials/church_brick_wall_01_a_normal.psd
content/dota_addons/addon_template_overthrow_butt/materials/models/courier/lockjaw/lockjaw_color.psd
content/dota_addons/addon_template_overthrow_butt/materials/models/courier/lockjaw/lockjaw_normal.psd
game/dota_addons/addon_template_overthrow_butt/panorama_debugger.cfg
game/dota_addons/addon_template_overthrow_butt/tools_asset_info.bin
game/dota_addons/addon_template_overthrow_butt/tools_thumbnail_cache.bin
